.card_holder {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.card {
	width: 250px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 5px;
	margin: 5px;
}

.card .card_img {
	width: 90%;
	height: 300px;
	object-fit: cover;
	
}

.card h2 {
	color: #0444BF;
	font: 4vw;
}

.card p {
	color: #0444BF;
	font: 0.5vw;
	font-style: italic;
}

.card .card_button {
	background-color: #A79674;
	padding: 5px 10px;
	font: 0.5vw;
	text-decoration: none;
	color: white;
}