@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:700i|Fira+Sans);
@import "navigation.css";
@import "social.css";
@import "cards.css";

html {
	font-family: 'Cormorant Garamond', Serif;
}

.body {
	background-color: #A79674;
}

.container {
	display: grid;
	grid-template-columns: 15px 1fr 15px;
	grid-template-rows: 40px 40px 100px auto 40px;
	grid-template-areas:
	". social ."
	". nav ."
	". hd ."
	". main ."
	". ft .";
}

.header {
	grid-area: hd;
	text-align: center;
	height: 200px;
	background-image: url("../img/blog_images/banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header h1 {
	color: white;
	font-size: 30px;
	text-align: center;
	margin-top: 0;
}

.main {
	grid-area: main;
	background: linear-gradient(#A7967433, #A796741A);
}

.main h2 {
	color: #0584F2;
	font-weight: 1000;
	text-align: center;
	font-size: 24px;
}

.footer {
	grid-area: ft;
	text-align: center;
	align-content: center;
	align-self: center;
	background: #0AAFF1;
	color: white;
}

.footer p {
	font-size: 16px;
}

/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
	.navigation {
		margin: 0 50px 0 50px;
	}

	.card_holder {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.header h1 {
		font-size: 40px;
	}
}

/* Large Screens */
@media (min-width: 901px) {
	.container {
		display: grid;
		grid-template-columns: 7% 1fr 7%;
		grid-template-rows: 40px 40px 150px auto 60px;
		grid-template-areas:
		". social ."
		". nav ."
		". hd ."
		". main ."
		". ft .";
	}

	.navigation {
		margin: 0 50px 0 50px;
	}

	.card-holder {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.card {
		width: 300px;
		flex-direction: column;
	}
	.header h1 {
		font-size: 56px;
	}
}