.navigation {
	grid-area: nav;
	align-self: center;
	margin: 0 10px 0 10px;
}

.navigation-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center space-evenly;
}

.navigation-item {
	margin: 0 auto;
}

.navigation-item a {
	text-decoration: none;
	color: #0AAFF1;
	font-size: 12px;
	font-weight: 800;
}

.navigation-item a:hover {
	color: #0444BF;
}
